@{
    ViewData["Title"] = "DetallePartido";
}
        @{
            Candidato presidente = new Candidato();
            Candidato vice = new Candidato();
            List<Candidato> Diputados = new List<Candidato>();
            foreach(var candidato in ViewBag.Candidatos) {
                if (candidato.Postulacion == "Presidente") {
                    presidente = candidato;
                } else if (candidato.Postulacion == "VicePresidente") {
                    vice = candidato;
                } else {
                    Diputados.Add(candidato);
                }
            }
        }
<main id="DetallePartido">
 <a class="linkAgregar" href='@Url.Action("AgregarCandidato", "Home", new { IdPartido = @ViewBag.Partido.IdPartido })'>Agregar Candidato</a>
 <section class="presidenteVice">
  @if(presidente.Nombre != "") {
<div class="cardPresidente" onclick="vercandidato(@presidente.IdCandidato)">
<div class="img" style='background-image: url(@presidente.Foto)' ></div>
  <div class="info">
    <span>@presidente.Nombre @presidente.Apellido</span>
    <p>@presidente.Postulacion</p>
    <p>@presidente.FechaNacimiento.ToString("dd/MM/yyyy")</p>
  </div>
  <a target="_new" href= @presidente.WikiPedia>WikiPedia</a>
</div>
  }
 @if(vice.Nombre != "") {
<div class="cardVice" onclick="vercandidato(@vice.IdCandidato)">
  <div class="img" style='background-image: url(@vice.Foto)'></div>
  <div class="info">
    <span>@vice.Nombre @vice.Apellido</span>
    <p>@vice.Postulacion</p>
    <p>@vice.FechaNacimiento.ToString("dd/MM/yyyy")</p>
  </div>
  <a target="_new" href= @vice.WikiPedia>WikiPedia</a>
</div>
 }

 </section>
 <section class="diputados">
 @foreach(var diputado in Diputados) {
    <div class="diputado" onclick="vercandidato(@diputado.IdCandidato)" >
      <div class="card2">
        <a href='@Url.Action("EliminarCandidato","Home", new {IdCandidato = @diputado.IdCandidato, IdPartido = @diputado.IdPartido})'><img src="/img/cruz.png" class="cruz" ></a> 
        <div class="img" style='background-image: url(@diputado.Foto)'></div>
        <h2>@diputado.Nombre @diputado.Apellido</h2>
        <h3>Diputado</h3>
        <h3 class="DiputadoFecha">@diputado.FechaNacimiento.ToString("dd/MM/yyyy")</h3>
        <a class="wikipedia"target="_new" href= @diputado.WikiPedia>WikiPedia</a>
      </div>
    </div>
 }

 </section>
</main>