@{
    ViewData["Title"] = "DetallePartido";
}
        @{
            Candidato presidente = new Candidato();
            Candidato vice = new Candidato();
            List<Candidato> Diputados = new List<Candidato>();
            foreach(var candidato in ViewBag.Candidatos) {
                if (candidato.postulacion == "Presidente") {
                    presidente = candidato;
                } else if (candidato.postulacion == "VicePresidente") {
                    vice = candidato;
                } else {
                    Diputados.Add(candidato);
                }
            }
        }
<main id="DetallePartido">
 <section class="presidenteVice">
 <div class="cardPresidente">
<div class="img" style='background-image: url(@presidente.foto)'></div>
  <div class="info">
    <span>@presidente.Nombre @presidente.Apellido</span>
    <p>@presidente.postulacion</p>
    <p>@presidente.FechaNacimiento.ToString("dd/MM/yyyy")</p>
  </div>
  <a target="_new" href= @presidente.WikiPedia>WikiPedia</a>
</div>
<div class="cardVice">
  <div class="img" style='background-image: url(@vice.foto)'></div>
  <div class="info">
    <span>@vice.Nombre @vice.Apellido</span>
    <p>@vice.postulacion</p>
    <p>@vice.FechaNacimiento.ToString("dd/MM/yyyy")</p>
  </div>
  <a target="_new" href= @vice.WikiPedia>WikiPedia</a>
</div>
 </section>
 <section class="diputados">
 @foreach(var diputado in Diputados) {
    <div class="diputado">
      <div class="card2">
        <div class="img" style='background-image: url(@diputado.foto)'></div>
        <h2>@diputado.Nombre @diputado.Apellido</h2>
        <h3>Diputado</h3>
        <h3 class="DiputadoFecha">@diputado.FechaNacimiento.ToString("dd/MM/yyyy")</h3>
        <a target="_new" href= @diputado.WikiPedia>WikiPedia</a>
      </div>
    </div>
 }

 </section>
</main>